---
layout: default
---

<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 p-0 h-100">
      <div class="jumbotron h-100 text-center m-0 bg-info d-flex flex-column justify-content-center">
      <div class="mx-auto col-sm-6 col-md-5 col-lg-4">
          {% asset logo_light.svg %}
      </div>
        <h1 class="display-4 text-white">QSYS, INC.</h1>
        <p class="lead text-white">Web and database applications development.</p>
        {%- if site.email -%}
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="mailto:{{ site.email }}" role="button">Contact Us</a>
        </p>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>